<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuToggler" aria-controls="menuToggler"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand">Recipe Book</a>
        <div class="collapse navbar-collapse" id="menuToggler">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active"><a class="nav nav-link" routerLink="/recipes">Recipes</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav nav-link" routerLink="/shopping-list">Shopping List</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown" appDropdown>
                <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Manage</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="onFetchData()" style="cursor: pointer;">Fetch Data</a>
                    <a class="dropdown-item" (click)="onSaveData()" style="cursor: pointer;">Save Data</a>
                </div>
            </li>
        </ul>
    </div><!-- container-fluid -->
</nav> <!-- nav -->